name: Java Code CI (Quality & Tests)

on:
  pull_request:
    branches: [ main ]

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Quality Checks (Checkstyle)
        run: mvn checkstyle:check
      
      - name: Run Unit Tests (JUnit)
        run: mvn test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # Runs even if tests fail so we can see why
        with:
          report_paths: '**/target/surefire-reports/TEST-*.xml'